<h3 class="section-title">Information</h3>
<dl class="information">
    {% for information in site.data.information %}
        <dt>
            <p class="title">{{ information.title }}</p>
            <p class="company">{{ information.company }}</p>
        </dt><!--
        --><dd>
            <p>{{ information.description }}</p>
        </dd>
    {% endfor %}
</dl>

<h3 class="section-title">Publication</h3>
<dl class="publication">
    {% for publication in site.data.publication %}
        <div class="item">
            <p class="title">{{ publication.title }}</p>
            <p class="authors">{{ publication.authors }}</p>
            <p class="publication">{{ publication.publication }}</p>
            <p> </p>
        </div>
    {% endfor %}
</dl>

<h3 class="section-title">Professional Experience</h3>
<dl class="experience">
    {% for experience in site.data.experience %}
        <dt>
            <p class="title">{{ experience.title }}</p>
            <p class="period">{{ experience.period }}</p>
        </dt><!--
        --><dd>
            <p>{{ experience.description }}</p>
        </dd>
    {% endfor %}
</dl>

<h3 class="section-title">Education</h3>
<dl class="education">
    {% for qualification in site.data.education %}
        <dt>
            <p class="title">{{ qualification.qualification }}</p>
            <p class="company">{{ qualification.school }}</p>
            <p class="period">{{ qualification.period }}</p>
        </dt><!--
        --><dd>
            <p>{{ qualification.description }}</p>
        </dd>
    {% endfor %}
</dl>

<h3 class="section-title">AWARDS, SCHOLASHIP, AND FELLOWSHIP</h3>
<dl class="certification">
    {% for certification in site.data.certification %}
        <dt>
            <p class="title">{{ certification.certification }}</p>
            <p class="company">{{ certification.school }}</p>
            <p class="period">{{ certification.period }}</p>
        </dt><!--
        --><dd>
            <p>{{ certification.description }}</p>
        </dd>
    {% endfor %}
</dl>

<h3 class="section-title">RELEVANT COURSES</h3>
<dl class="courses">
    {% for courses in site.data.courses%}
        <dt>
            <p class="title">{{ courses.title }}</p>
            <p class="company">{{ courses.course }}</p>
        </dt><!--
        --><dd>
            <p>{{ courses.description }}</p>
        </dd>
    {% endfor %}
</dl>
