// @name Resume
// @description All resume styles
* {margin: 0; padding: 0;}
#container {height: 100%; width:100%; font-size:0;}
#left, #middle, #right {display: inline-block; *display: inline; zoom: 1; vertical-align: top; font-family: "Times New Roman", Times, serif;}
#left {width: 30%; background: white;}
#middle {width: 70%; background: white; margin-top: 50px;}
#right {width: 30%; background: white;}

dl {
    margin-bottom: $spacer;
}

dt, dd {
    display: inline-block;
    vertical-align: top;
    margin-bottom: $spacer;
}

@media(min-width: 640px) {
    dt, dd {
        margin-bottom: 60px;
    }
    div {
        margin-bottom: 30px;
    }
    
    .information {
        dt, dd {
            //width: 50%;
        }
    }
    
    .publication {
        dt, dd {
            //width: 50%;
        }
    }
    
    .experience {
        dt {
            width: 30%;
            padding-right: ($spacer * 2);
        }
        dd {
            width: 70%;
        }
    }

    .education {
        dt, dd {
            //width: 50%;
        }
    }
    
    .certification {
        dt, dd {
            //width: 50%;
        }
    }
    
    .courses {
        dt, dd {
            //width: 50%;
        }
    }
}

.section-title {
    margin: 0;
    font-weight: normal;
    font-size: 25px;
}

.title {
    font-size: 16px;
    font-weight: 400;
    //color: #3F4650;
    margin-bottom: 1px
}

.authors {
    font-size: 14px;
    font-style: italic;
   // color: #97AAC3;
    margin-bottom: 1px
}

.publication {
    margin: 0;
    //font-weight: bold;
    font-size: 15px;
}

.period {
    margin: 0;
    //font-weight: bold;
    font-size: 15px;
}

.company {
    margin: 0;
    //font-weight: bold;
    font-size: 15px;
    font-weight: 200;
}

.school {
    margin: 0;
    //font-weight: bold;
    font-size: 15px;
}

a {
    color: black!important;
    background: rgba(245, 215, 110, .5);
    transition: all linear .2s;

    &:hover {
        background: rgba(245, 215, 110, 1);
        text-decoration: none;
    }
}
