// @name Resume
// @description All resume styles
* {margin: 0; padding: 0;}
#container {height: 100%; width:100%; font-size:0;}
#left, #middle, #right {display: inline-block; *display: inline; zoom: 1; vertical-align: top; font-size: 12px;}
#left {width: 25%; background: white;}
#middle {width: 50%; background: white;}
#right {width: 25%; background: white;}

dl {
    margin-bottom: $spacer;
}

dt, dd {
    display: inline-block;
    vertical-align: top;
    margin-bottom: $spacer;
}

@media(min-width: 640px) {
    dt, dd {
        margin-bottom: 60px;
    }
    div {
        margin-bottom: 30px;
    }
    
    .information {
        dt, dd {
            //width: 50%;
        }
    }
    
    .publication {
        dt, dd {
            //width: 50%;
        }
    }
    
    .experience {
        dt {
            width: 30%;
            padding-right: ($spacer * 2);
        }
        dd {
            width: 70%;
        }
    }

    .education {
        dt, dd {
            //width: 50%;
        }
    }
    
    .certification {
        dt, dd {
            //width: 50%;
        }
    }
    
    .courses {
        dt, dd {
            //width: 50%;
        }
    }
}

.title {
    margin: 0;
    font-weight: bold;
    font-size: 1.2rem;
}

a {
    color: black!important;
    background: rgba(245, 215, 110, .5);
    transition: all linear .2s;

    &:hover {
        background: rgba(245, 215, 110, 1);
        text-decoration: none;
    }
}
